* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    font-family: sans-serif;
}

h1 {
    margin: .5em 0 1em;
}

#grid {
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
}

    #grid td {
        border: 1px solid gray;
    }

    #grid input[type="checkbox"] {
        width: 20px;
        height: 20px;
        display: block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
        #grid input[type="checkbox"]:checked {
            background-color: black;
        }
